* {
    box-sizing: border-box;
}
@media (max-width: 1000px) {
    header {
        .header-top {
            .title {
                font-size: 25px;
            }
            nav {
                ul {
                    li {
                        
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    
                }
            }
        }

        .main-image {
            h2 {
                font-size: 40px;
                margin-top: 210px;
            }
            h3 {
                font-size: 18px;
            }
            h1 {
                font-size: 70px;
                margin-top: 50px;
            }
            
        }
    }

    .concept {  
        flex-wrap: wrap;      
        img {
            width: 100%;
            height: auto;
        }
        .concept-left {
            width: 100%;
            padding: 0 50px;
        }    
    }
    
    .select {  
        flex-wrap: wrap;      
        img {
            width: 100%;
            height: auto;
        }
        .select-right {
            width: 100%;
            padding: 0 50px;
        }    
    }

    .information {
        height: 800px;
        .textarea {
            width: 40%;
            
            padding: 15px 15px;
            flex-flow: column;
            // background-color: orange;
            .info-img{
                // background-color: yellow;
                width: 100%;
                
                
                img {
                    width: 100%;
                    
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }
            .textarea-txt {
                margin: 0;
                width: 100%;
                height: 280px;
                // background-color: violet;
                position: relative;
                .flame {
                    width: 100%;
                    height: 25%;
                    
                    position: relative;
                    img {
                        width: 50%;
                        height: 100%;
                    }
                    h4 {
                        white-space: nowrap;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        
                        font-size: 18px;
                        
                        
                    }
                }
                
                p {
                    // background-color: yellowgreen;
                    position: absolute;
                    top: 20%;
                    bottom: 0;
                    font-size: 14px;
                }
            }
        }
    }
    
    .menu {
        height: 650px;
        .menu-box {
            height: 280px;
            margin: 0 auto;
            padding: 50px 30px 30px 30px;
            
            ul {
                li {
                    img {
                        width: 150px;
                        
                        margin-bottom: 20px;
                        
                    }
                    p {
                        
                        font-size: 13px;
                        &.price {
                            font-size: 15px;
                        
                        }
                        
                    }
                }
            }
        }
        .more-txt {
            font-size: 13px;
        }
    }







}


@media (max-width: 670px) {
    header {
        .header-top {
            .title {
                font-size: 20px;
            }
            nav {
                display: inline-block;
                
                
                ul {
                    li {
                        
                        font-size: 10px;
                        margin-right: 10px;
                    }
                    
                }
            }
        }
        .main-image {
            h2 {
                font-size: 30px;
                margin-top: 210px;
            }
            h3 {
                font-size: 13px;
            }
            h1 {
                font-size: 60px;
                margin-top: 50px;
            }
            
        }
    }

    .information {
        height: 800px;
        .textarea {
            width: 40%;
            
            padding: 20px 15px 0 15px;
            flex-flow: column;
            // background-color: orange;
            .info-img{
                // background-color: yellow;
                width: 100%;
                
                
                img {
                    width: 90%;
                    
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }
            .textarea-txt {
                margin: 0;
                width: 100%;
                height: 350px;
                // background-color: violet;
                position: relative;
                .flame {
                    width: 100%;
                    height: 25%;
                    
                    position: relative;
                    img {
                        width: 50%;
                        height: 100%;
                    }
                    h4 {
                        white-space: nowrap;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        
                        font-size: 13px;
                        
                        
                    }
                }
                
                p {
                    // background-color: yellowgreen;
                    position: absolute;
                    top: 20%;
                    bottom: 0;
                    font-size: 9px;
                }
            }
        }
    }

    .menu {
        height: 1200px;
        .menu-box {
            height: 850px;
            margin: 0 auto;
            padding: 30px 60px 30px 60px;
            
            ul {
                flex-flow: column;
                
                
                
                li {
                    
                    margin: 0 auto;
                    width: 100%;
                    margin-bottom: 20px;
                    img {
                        width: 200px;
                        
                        margin-bottom: 10px;
                        
                    }
                    p {
                        
                        font-size: 13px;
                        &.price {
                            font-size: 15px;
                        
                        }
                        
                    }
                }
            }
        }
    }
}