$main-font: 'Dancing Script', cursive;
$menu-bg-color: #eee;

@mixin menu-title {
    font-size: 63px;
    color: #372800;
    line-height: 1.12;
}

@mixin menu {
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin sub-menu {
    font-size: 31px;
    color: #4e3d1c;
    line-height: 1.61;
}

@mixin menu-p {
    font-size: 16px;
    color: #3b3b3b;
    line-height: 1.7;
    padding-top: 10px;
}